@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.text-bold {
  font-weight: bold;
}

.text-italic {
  font-style: italic;
}

.text-underline {
  text-decoration: underline;
}

.text-strikethrough {
  text-decoration: line-through;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

/* Global styles */
.window-app {
  font-family: "Roboto", sans-serif;
}

.rollable:hover, .rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 10px;
  margin: 10px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.grid-start-2 {
  grid-column-start: 2;
}

.grid-start-3 {
  grid-column-start: 3;
}

.grid-start-4 {
  grid-column-start: 4;
}

.grid-start-5 {
  grid-column-start: 5;
}

.grid-start-6 {
  grid-column-start: 6;
}

.grid-start-7 {
  grid-column-start: 7;
}

.grid-start-8 {
  grid-column-start: 8;
}

.grid-start-9 {
  grid-column-start: 9;
}

.grid-start-10 {
  grid-column-start: 10;
}

.grid-start-11 {
  grid-column-start: 11;
}

.grid-start-12 {
  grid-column-start: 12;
}

.grid-span-2 {
  grid-column-end: span 2;
}

.grid-span-3 {
  grid-column-end: span 3;
}

.grid-span-4 {
  grid-column-end: span 4;
}

.grid-span-5 {
  grid-column-end: span 5;
}

.grid-span-6 {
  grid-column-end: span 6;
}

.grid-span-7 {
  grid-column-end: span 7;
}

.grid-span-8 {
  grid-column-end: span 8;
}

.grid-span-9 {
  grid-column-end: span 9;
}

.grid-span-10 {
  grid-column-end: span 10;
}

.grid-span-11 {
  grid-column-end: span 11;
}

.grid-span-12 {
  grid-column-end: span 12;
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flexshrink {
  flex: 0;
}

.flex-between {
  justify-content: space-between;
}

.flexlarge {
  flex: 2;
}

.align-left {
  justify-content: flex-start;
  text-align: left;
}

.align-right {
  justify-content: flex-end;
  text-align: right;
}

.align-center {
  justify-content: center;
  text-align: center;
}

/* Styles limited to konosuba sheets */
.konosuba .item-form {
  font-family: "Roboto", sans-serif;
}
.konosuba .sheet-header {
  flex: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 10px;
}
.konosuba .sheet-header .profile-img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 10px;
}
.konosuba .sheet-header .header-fields {
  flex: 1;
}
.konosuba .sheet-header h1.charname {
  height: 50px;
  padding: 0px;
  margin: 5px 0;
  border-bottom: 0;
}
.konosuba .sheet-header h1.charname input {
  width: 100%;
  height: 100%;
  margin: 0;
}
.konosuba .sheet-tabs {
  flex: 0;
}
.konosuba .sheet-body .body-field {
  margin-bottom: 5px;
}
.konosuba .sheet-body .body-label {
  font-weight: bold;
}
.konosuba .sheet-body,
.konosuba .sheet-body .tab,
.konosuba .sheet-body .tab .editor {
  height: 100%;
}
.konosuba .tox .tox-editor-container {
  background: #fff;
}
.konosuba .list-container {
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #000;
}
.konosuba .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.konosuba .items-header > * {
  font-size: 14px;
  text-align: center;
}
.konosuba .items-header .item-name {
  font-weight: bold;
  padding-left: 5px;
  text-align: left;
  display: flex;
}
.konosuba .items-list {
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  scrollbar-width: thin;
  color: #444;
}
.konosuba .items-list .item-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.konosuba .items-list .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 13px;
  text-align: left;
  align-items: center;
  display: flex;
}
.konosuba .items-list .item-name h3, .konosuba .items-list .item-name h4 {
  margin: 0;
  white-space: nowrap;
  overflow-x: hidden;
}
.konosuba .items-list .item-controls {
  display: flex;
  flex: 0 0 100px;
  justify-content: flex-end;
}
.konosuba .items-list .item-controls a {
  font-size: 12px;
  text-align: center;
  margin: 0 6px;
}
.konosuba .items-list .item {
  align-items: center;
  padding: 0 2px;
  border-bottom: 1px solid #c9c7b8;
}
.konosuba .items-list .item:last-child {
  border-bottom: none;
}
.konosuba .items-list .item .item-name {
  color: #191813;
}
.konosuba .items-list .item .item-name .item-image {
  flex: 0 0 30px;
  height: 30px;
  background-size: 30px;
  border: none;
  margin-right: 5px;
}
.konosuba .items-list .item-prop {
  text-align: center;
  border-left: 1px solid #c9c7b8;
  border-right: 1px solid #c9c7b8;
  font-size: 12px;
}
.konosuba .items-list .items-header {
  height: 28px;
  margin: 2px 0;
  padding: 0;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  border: 2px groove #eeede0;
  font-weight: bold;
}
.konosuba .items-list .items-header > * {
  font-size: 12px;
  text-align: center;
}
.konosuba .items-list .items-header .item-name {
  padding-left: 5px;
  text-align: left;
}
.konosuba .item-formula {
  flex: 0 0 200px;
  padding: 0 8px;
}
.konosuba .resource-label {
  font-weight: bold;
}
.konosuba .resource {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
@font-face {
  font-family: "DalekPinpoint";
  src: url("/systems/konosuba/assets/fonts/DalekPinpointBold.ttf") format("truetype");
}
.konosuba .actor-sheet {
  background-image: url("/systems/konosuba/assets/actor-sheet/home-bg.png");
  width: 1076px;
  height: 764px;
  padding: 0;
  padding-left: 1%;
  padding-right: 1%;
  bottom: 0;
  left: 0;
  position: absolute;
  font-family: "DalekPinpoint", sans-serif;
}
.konosuba .actor-sheet nav {
  height: 9%;
  width: 100%;
}
.konosuba .actor-sheet nav:nth-of-type(1) {
  margin-top: 1%;
}
.konosuba .actor-sheet .actor-page {
  height: 80%;
  width: 100%;
}
.konosuba .actor-sheet .actor-page.home .top {
  height: 54%;
}
.konosuba .actor-sheet .actor-page.home .top header {
  height: 40%;
  width: 65%;
  margin-left: 6%;
  float: left;
  font-size: 2em;
}
.konosuba .actor-sheet .actor-page.home .top header * {
  height: 65%;
  margin-top: 6.8%;
  float: left;
}
.konosuba .actor-sheet .actor-page.home .top header label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.konosuba .actor-sheet .actor-page.home .top header input:nth-of-type(1) {
  width: 30%;
}
.konosuba .actor-sheet .actor-page.home .top header label:nth-of-type(1) {
  width: 43%;
  margin-left: 0.7%;
}
.konosuba .actor-sheet .actor-page.home .top header input:nth-of-type(2) {
  width: 10%;
  margin-left: 0.2%;
}
.konosuba .actor-sheet .actor-page.home .top header p {
  width: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.konosuba .actor-sheet .actor-page.home .top header label:nth-of-type(2) {
  width: 10%;
  margin-left: 0.7%;
}
.konosuba .actor-sheet .actor-page.home .top footer {
  height: 20%;
  width: 65%;
  margin-left: 6%;
  float: left;
}
.konosuba .actor-sheet .actor-page.home .top footer input, .konosuba .actor-sheet .actor-page.home .top footer label {
  height: 64%;
  margin-top: 1.2%;
  float: left;
}
.konosuba .actor-sheet .actor-page.home .top footer input:nth-of-type(1) {
  width: 13%;
  margin-left: 18%;
}
.konosuba .actor-sheet .actor-page.home .top footer input:nth-of-type(2) {
  width: 15%;
  margin-left: 14%;
}
.konosuba .actor-sheet .actor-page.home .top footer label {
  width: 18%;
  margin-left: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.konosuba .actor-sheet .actor-page.home .top img {
  height: 180px;
  width: 180px;
  margin-right: 62px;
  margin-top: 38px;
  float: right;
}
.konosuba .actor-sheet .actor-page.home .bottom {
  height: 46%;
}
.konosuba .actor-sheet .actor-page.home .bottom .stats {
  width: 61%;
  margin-left: 7.2%;
  height: 100%;
  float: left;
}
.konosuba .actor-sheet .actor-page.home .bottom .stats .col {
  height: 90%;
  width: 47%;
  float: left;
}
.konosuba .actor-sheet .actor-page.home .bottom .stats .col .stat {
  height: 40.5px;
  margin: 0;
  margin-bottom: 1px;
  font-size: 2em;
}
.konosuba .actor-sheet .actor-page.home .bottom .stats .col .stat label {
  height: 100%;
  width: 66%;
  margin: 0;
  float: left;
  display: flex;
  justify-content: left;
  align-items: center;
}
.konosuba .actor-sheet .actor-page.home .bottom .stats .col .stat input {
  height: 100%;
  width: 17%;
  margin: 0;
  margin-right: 9%;
  float: right;
}
.konosuba .actor-sheet .actor-page.home .bottom .stats .col:nth-of-type(2) {
  margin-left: 5.5%;
}
.konosuba .actor-sheet .actor-page.home .bottom .mana {
  width: 13.5%;
  height: 10%;
  margin-right: 6.8%;
  margin-top: 18%;
  float: right;
}
.konosuba .actor-sheet .actor-page.home .bottom .mana * {
  width: 26%;
  height: 100%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.konosuba .actor-sheet .actor-page.home .bottom .mana p {
  width: 30%;
  margin: 0;
  margin-left: 9%;
  margin-right: 9%;
}

/*# sourceMappingURL=konosuba.css.map */
