<form class="actor-sheet" autocomplete="off">
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="home">Home</a>
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="combat">Combat</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="inventory">Inventory</a>
    <a class="item" data-tab="character">Character</a>
  </nav>

  <section class="sheet-body">

    <div class="tab actor-page home" data-group="primary" data-tab="home">
        {{> "systems/konosuba/templates/actor/parts/actor-home.hbs"}}
    </div>

    <div class="tab actor-page abilities" data-group="primary" data-tab="abilities">
        {{> "systems/konosuba/templates/actor/parts/actor-abilities.hbs"}}
    </div>

    <div class="tab actor-page combat" data-group="primary" data-tab="combat">
        {{> "systems/konosuba/templates/actor/parts/actor-combat.hbs"}}
    </div>

    <div class="tab actor-page skills" data-group="primary" data-tab="skills">
        {{> "systems/konosuba/templates/actor/parts/actor-skills.hbs"}}
    </div>

    <div class="tab actor-page inventory" data-group="primary" data-tab="inventory">
        {{> "systems/konosuba/templates/actor/parts/actor-inventory.hbs"}}
    </div>

    <div class="tab actor-page character" data-group="primary" data-tab="character">
        {{> "systems/konosuba/templates/actor/parts/actor-character.hbs"}}
    </div>

  </section>
</form>