@font-face {
    font-family: "DalekPinpoint";
    src: url("/systems/konosuba/assets/fonts/DalekPinpointBold.ttf") format("truetype");
}

.actor-sheet[data-active-tab="home"] {
  background-image: url("/systems/konosuba/assets/actor-sheet/home-bg.png");
}

.actor-sheet[data-active-tab="abilities"] {
  background-image: url("/systems/konosuba/assets/actor-sheet/abilities-bg.png");
}

.actor-sheet[data-active-tab="combat"] {
  background-image: url("/systems/konosuba/assets/actor-sheet/combat-bg.png");
}

.actor-sheet[data-active-tab="skills"] {
  background-image: url("/systems/konosuba/assets/actor-sheet/blank-bg.png");
}

.actor-sheet[data-active-tab="inventory"] {
  background-image: url("/systems/konosuba/assets/actor-sheet/blank-bg.png");
}

.actor-sheet {
    background-color: #baad90;
    background-image: url("/systems/konosuba/assets/actor-sheet/home-bg.png");
    width: 1076px;
    height: 764px;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
    bottom: 0;
    left: 0;
    position: absolute;
    font-family: "DalekPinpoint", sans-serif;

    nav {
        height: 9%;
        width: 100%;
        margin-top: 1%;
    }

    .actor-page {
        height: 80%;
        width: 100%;

        .roll-dice {
            &:hover,
            &:focus {
                color: #000;
                text-shadow: 0 0 10px red;
                cursor: pointer;
            }
        }

        &.home {
            .top {
                height: 54%;

                header {
                    height: 40%;
                    width: 65%;
                    margin-left: 6%;
                    float: left;
                    font-size: 2em;

                    * {
                        height: 65%;
                        margin-top: 6.8%;
                        float: left;
                    }

                    label {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    input:nth-of-type(1) {
                        width: 30%;
                    }

                    label:nth-of-type(1) {
                        width: 43%;
                        margin-left: 0.7%;
                    }

                    input:nth-of-type(2) {
                        width: 10%;
                        margin-left: 0.2%;
                    }

                    p {
                        width: 4%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    label:nth-of-type(2) {
                        width: 10%;
                        margin-left: 0.7%;
                    }
                }

                footer {
                    height: 20%;
                    width: 65%;
                    margin-left: 6%;
                    float: left;

                    input, label {
                        height: 64%;
                        margin-top: 1.2%;
                        float: left;
                    }

                    

                    input:nth-of-type(1) {
                        width: 13%;
                        margin-left: 18%;
                    }

                    input:nth-of-type(2) {
                        width: 15%;
                        margin-left: 14%;
                    }

                    label {
                        width: 18%;
                        margin-left: 14%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }

                img {
                    height: 180px; 
                    width: 180px;
                    margin-right: 62px;
                    margin-top: 38px;
                    float: right;
                }

                .blessings {
                    position: absolute;
                    width: 50%;
                    height: 5%;
                    top: 35%;
                    left: 7%;

                    * {
                        float: left;
                        font-size: 1.5em;
                    }

                    input {
                        width: 80px;
                        margin-top: 8px;
                        text-align: center;
                    }

                    p:nth-of-type(1) {
                        margin-right: 8px;
                    }

                    p:nth-of-type(2) {
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }

                .xp {
                    position: absolute;
                    width: 50%;
                    height: 5%;
                    top: 40%;
                    left: 7%;

                    * {
                        float: left;
                        font-size: 1.5em;
                    }


                    input {
                        width: 80px;
                        margin-top: 8px;
                        text-align: center;
                    }

                    p {
                        margin-right: 5px;
                        margin-left: 5px;
                    }

                    p:nth-of-type(1) {
                        margin-right: 69px;
                    }
                }
            }

            .bottom {
                height: 46%;

                .stats {
                    width: 61%;
                    margin-left: 7.2%;
                    height: 100%;
                    float: left;

                    .col {
                        height: 90%;
                        width: 47%;
                        float: left;

                        .stat {
                            height: 40.5px;
                            margin: 0;
                            margin-bottom: 1px;
                            font-size: 2em;
                            

                            label {
                                height: 100%;
                                width: 66%;
                                margin: 0;
                                float: left;
                                display: flex;
                                justify-content: left;
                                align-items: center;
                            }

                            p {
                                height: 100%;
                                width: 17%;
                                margin: 0;
                                margin-right: 9%;
                                float: right;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                        }
                    }

                    .col:nth-of-type(2) {
                        margin-left: 5.5%;
                    }
                }

                .mana {
                    width: 13.5%;
                    height: 10%;
                    margin-right: 6.8%;
                    margin-top: 18%;
                    float: right;

                    *{
                        width: 26%;
                        height: 100%;
                        float: left;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    p {
                        width: 30%;
                        margin: 0;
                        margin-left: 9%;
                        margin-right: 9%;
                    }
                }
            }

            .lvl {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 57px;
                height: 48px;
                top: 44.5%;
                right: 24.5%;
                font-size: 2em;
            }
        }


        &.abilities {
            table {
                width: 77.5%;
                height: 53%;
                margin-left: 12%;
                margin-top: 17%;
                table-layout: fixed;
                background: none;

                tr {
                    height: 12.5%;
                    background: none;

                    th {
                        width: 74.5;
                        padding: 0;
                        padding-right: 20px;
                        background: none;
                    }

                    th:nth-of-type(1) {
                        width: 27%;
                    }

                    p {
                        font-size: 0.8em;
                        margin: 0;
                        margin-left: -13px;
                        padding-bottom: 5px;
                        height: 100%;
                        width: calc(100% + 13px);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        &.combat {

            table {
                height: 87%;
                width: 57%;
                margin-top: 6.5%;
                margin-left: 20%;
                table-layout: fixed;
                background: none;

                tr {
                    height: 5%;
                    background: none;
                }

                th:nth-of-type(1) {
                    width: 51%;
                }

                th {
                    padding-right: 30px;
                    background: none;
                }
            }
        }

        &.skills {


            ul {
                width: 80%;
                height: 85%;
                overflow-y: scroll;
                margin-left: 10%;
                margin-top: 7%;
                border: solid black 2px;
                list-style: none;
                padding: 5px;
                background-color: #9d9179;

                li {
                    margin-bottom: 25px;
                    border-top: dashed black 2px;
                    border-bottom: dashed black 2px;
                    min-height: 75px;
                    background-color: #baad90;
                    
                    
                    label {
                        font-size: 2em;
                        float: left;
                        margin-right: 15px;
                    }
                }
            }
        }

        &.inventory {

            table, section {
                width: 80%;
                height: 40%;
                margin-left: 10%;
                border: solid black 2px;
            }


            table {
                width: 80%;
                height: 40%;
                margin-left: 10%;
                margin-top: 5%;
                padding: 5px;
            }

            section {
                padding: 0;
                overflow-x: hidden;

                aside {
                    width: 100%;
                    height: 100%;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    border: none;
                    border-right: solid black 2px;

                    div {
                        overflow-x: hidden;

                        li {
                            width: 100%;
                            margin-left: -120%;
                            cursor: pointer;
                            border: solid black 2px;
                        }
                    }
                }

                section {
                    margin-left: 0%;
                    width: 100%;
                    height: 100%;
                    float: right;
                    border: none;
                    border-left: solid black 2px;
                }
            }
        }
    }
}